In [17]:
#test by some random df

import numpy as np
import pandas as pd

d = {'a' : pd.Series([0, 0, 1, 0], index=['a', 'b', 'c', 'd']),
     'b' : pd.Series([1, 0, 0, 0], index=['a', 'b', 'c', 'd']),
     'c' : pd.Series([0, 1, 0, 0], index=['a', 'b', 'c', 'd']),
     'd' : pd.Series([1, 0, 0, 0], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df
haha = ['c', 'a', 'd']
haha

['c', 'a', 'd']

In [19]:
df

   a  b  c  d
a  0  1  0  1
b  0  0  1  0
c  1  0  0  0
d  0  0  0  0

In [27]:
df_header = list(df)

dh_diff = list(set(df_header) - set(haha))

haha_total = haha + dh_diff

haha_total

df = df[haha_total]
df = df.reindex(haha_total)
df

   c  a  d  b
c  0  1  0  0
a  0  0  1  1
d  0  0  0  0
b  1  0  0  0

In [5]:
# First given an pandas dataframe (adj matrix) and a list of orf name we are interested in.
# We want to sort the adj matrix in a way so that the order match the target orf name

A = target_orf #input the list of target orf name
B = adj_matrix #input the adj matrix

#First we want to extract the header from the adj matrix and compare them with the list

B_header = list(B)

AB_diff = list(set(B_header) - set(A))

A_total = A + AB_diff

B = B[A_total]
B = B.reindex(A_total)

NameError: name 'target_orf' is not defined